.channel {
  display: grid;
  justify-content: center;
}

.channel-cards {
  height: 696px;
  text-align: start;
  margin-top: 27px;
  overflow-y: auto;
}

.channel-card {
  &-body {
    background: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 400px) minmax(100px, 780px));
    border-radius: 8px;
    margin-bottom: 16px;
    justify-content: start;
    padding-top: 21px;
    padding-bottom: 19px;
    grid-auto-flow: column;


    &-img {
      justify-self: center;
      align-self: center;
    }

    &-content {
      text-align: start;
      align-self: center;

      &-name {
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 17px;
      }
    }

  }

  &-body:last-child {
    margin: 0;
  }

  &-time-one {
    color: #E5261E;
  }

  &-time span, &-time-one span {
    margin: 0 16px 16px 0;
  }

}

.channel-card-time, .channel-card-time-one {
  margin-bottom: 12px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.channel-card-time:last-child {
  margin: 0;
}