.films-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 280px));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;

}

.film-card {
  display: flex;
  flex-direction: column;
  height: 370px;
  margin-top: 26px;

  &-name {
    margin-top: 16px;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

.card {
  position: relative;
}

.film-card-info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 16px;
  height: 338px;
  display: none;
  overflow: auto;
  color: #F2F2F2;
  background: #333333;
  opacity: 0.8;
  border-radius: 8px;;
}

.card:hover .film-card-info {
  display: block;
  cursor: pointer;
}

.content-container {
  max-width: 1200px;
  margin: auto;
}

.films-genre {
  display: flex;
  align-items: center;
  margin-top: 80px;

  &-title {

    height: 28px;
    width: 134px;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
  }
}

.films-news {
  margin-top: 30px;

  &-title {
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 33px;
  }
}


.films-genre-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 280px));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 16px;


  &-bg-y {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
  }

  &-bg-p {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
  }

  &-bg-b {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
  }

  &-bg-g {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
  }
}

.genre-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 208px;
  width: 280px;
  color: white;
  cursor: pointer;
  border-radius: 6px;

  &-title {
    position: relative;
    bottom: -32px;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

.genre-card:hover {
  opacity: 0.8;
}