.description {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  &-name {
    margin-bottom: 21px;

    &-container {
      margin-left: 100px;
    }
  }

  &-back {
    width: 20px;
    color: red;
    font-size: 33px;
    cursor: pointer;
    text-decoration: none;
  }

  &-films {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 460px;
  }



  &-comments h2 {
    align-self: end;
    text-align: center;
  }

  &-comment-body {
    margin-top: 16px;

    width: 780px;
    border-radius: 8px;
    background: #F2F2F2;
    padding: 16px;
    box-sizing: border-box;

    &-name {
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.description-comment-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.description-film-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.description-film {
  height: 100%;
}

.des-style {
  height: 86px;
  width: 580px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.description-input {

  width: 780px;
  height: 110px;
  color: #333333;
  //background: #E5261E;
  //opacity: 0.15;
  border-radius: 8px;
}
.description-comment-x{
  position: relative;
  top: 15px;
  height: 14.727920532226562px;
  width: 14.727921485900879px;
  color: #E5261E;
  margin-left: 15px;
;

}