.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-items: center;
//max-width: 1440px;
  height: 40px;
  width: 100%;
}


