.header-container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 380px));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.auth {
  justify-self: flex-end;
  align-self: center;
}

